body {
    background-color: rgb(66, 194, 255); 
    /* background-color: gray; */
    align-content:center;
}
hr{
    background-color:rgb(66, 194, 255);
    border-style: none;       
    border-top-style: dotted;       
    border-color: rgb(127, 138, 146);
    border-width: 5px;
    width: 10%;
}
h1{
    color:#150485;
}
h3{
    color:#150485;
}
h2{
    color: #2B3595;
}
button{
    border:inset blue;
    width: 100px;
    height: 40px;
    background-color: rgb(0, 221, 255);
    color: #150485;
}